<!DOCTYPE html>
<html>
<head>
    <%- include('../template/pageHead.ejs')%>
</head>
<body>
    <main class="main">
        <section class="main__info main__border">
            <img class="main__info_image" src="/web/img/person-min.png" alt="user_image" />
            <div class="main__info_text">
                <h2><%=firstName%> <%=secondName%></h2>
                <h3><%=position%></h3>
                <div><%=about%></div>
            </div>
            <div>
                <button class="main__info_pdf" onclick="window.open('/pdf')">PDF file</button>
                <div><a href="<%=github%>" target="_blank">Project on GitHub</a></div>
            </div>
        </section>

        <section class="main__contacts main__border">
            <% if(Array.isArray(contacts) && contacts.length) {%>

            <ul class="main__contacts_list">
                <% for(let i = 0; i < contacts.length; i++){%>
                <li>
                    <span><%=contacts[i].type%>:</span>
                    <span><%=contacts[i].data%></span>
                </li>
                <%} %>
            </ul>
            <%} %>
        </section>

        <section class="main__experience main__border main__fontList">
            <span class="main__section_title">Experience</span>
            <% if(Array.isArray(work) && work.length){%>
            <ul class="main__experience_list">
                <% for(let i = 0; i < work.length; i++){%>
                <li>
                    <div class="main__education_date"><%=work[i].dateStart%> - <%=work[i].dateEnd%></div>
                    <div>
                        <div><%=work[i].position%></div>
                        <div><%=work[i].place%></div>
                        <% if(Array.isArray(work[i].responsibilities) && work[i].responsibilities.length){%>
                            <% for(let y = 0; y < work.length; y++){%>
                                <p><%=work[i].responsibilities[y]%></p>
                            <%} %>
                        <%} %>
                    </div>
                </li>
                <%} %>
            </ul>
            <%} %>
        </section>

        <section class="main__education main__border main__fontList">
            <span class="main__section_title">Education</span>
            <div class="main__education_info">
                <% if(Array.isArray(education) && education.length){%>
                    <% for(let i = 0; i < education.length; i++){%>
                <div class="main__education_date"><%=education[i].dateStart%> - <%=education[i].dateEnd%></div>
                        <div>
                            <div><%=education[i].type%></div>
                            <span><%=education[i].place%></span>
                            <span><%=education[i].country%></span>
                            <div><%=education[i].specialization%></div>
                        </div>
                    <%} %>
                <%} %>
            </div>
        </section>

        <section class="main__additional">
            <section class="main__languages main__border">
                <span class="main__section_title">Languages</span>
                <% if(Array.isArray(languages) && languages.length){%>
                    <ul class="main__additional_languageList main__fontList">
                        <% for(let i = 0; i < languages.length; i++){%>
                            <li>
                                <div><%=languages[i].lang %></div>
                                <div><%=languages[i].level %></div>
                            </li>
                        <%} %>
                    </ul>
                <%} %>
            </section>
            <section class="main__skills main__border">
                <span class="main__section_title">Skills</span>
                <% if(Array.isArray(skills) && skills.length){%>
                    <ul class="main__skills_list main__fontList">
                        <% for(let i = 0; i < skills.length; i++){%>
                            <li><%= skills[i]%></li>
                        <%} %>
                    </ul>
                <%} %>
            </section>
        </section>

        <section class="main__courses main__border">
            <span class="main__section_title">Certifications & Courses</span>
            <% if(Array.isArray(courses) && courses.length){%>
                <ul class="main__courses_list main__fontList">
                    <% for(let i = 0; i < courses.length; i++){%>
                        <li>
                            <div><%=courses[i].name%></div>
                            <div><%=courses[i].place%>, <%=courses[i].date%></div>
                        </li>
                    <%} %>
                </ul>
            <%} %>
        </section>
    </main>
</body>
</html>   